/.idea
/target

/lectures

cas-scheduler.iml
.factorypath

# do not track the access credentials for firestore
src/main/resources/cas-scheduler-firestore-access.json
src/main/resources/credentials.yaml
