# compiled code
/target

# IntelliJ
/.idea

# eclipse stuff
cas-scheduler.iml
.factorypath

# do not track resources created by the app
src/main/resources/lectures.json

# ics files created from pdf
/lectures
/modules
